$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


* {
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

body{
	margin: 0;
	font-family: sans-serif;
	background-color: #d5d8db;
}

.spaced-out{
	letter-spacing: 2px;
}

.reg-navigation{
	background-color: #22313F;
	color: #d5d8db;
	padding: 10px;
	font-size: 16px;
	font-weight: lighter;
}

.reg-navigation > *{
		display: inline-block;
}

.logo{
	width: 30%;
	padding-left: 20px;
}

.sign-in{
	width: 25%;
	float: right;
	margin-top: 22px;
}

.sign-in > *{
	display: inline-block;
}

.sign-in div{
	padding-left: 50px;
}

.hover-color:hover{
	cursor: pointer;
	color: #FDE3A7;
}

.searchbar{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 18px;
}

.searchbar > *{
	display: inline-block;
}

.searchbar div{
	width: 15%
}

.searchbar form{
	width: 30%

}

.searchbar button{
	border-style: none;
	height: 25px;
	width: 80px;
	font-size: 14px;
	color: white;
	background-color: #22313F;
	cursor: pointer;
	border-radius: 10px;
}

.search-input{
	height: 25px;
	width: 250px;
	font-size: 14px;
	letter-spacing: normal;
	border-radius: 10px;
	border-style: none;
}

.side-by-side div{
	display: inline-block;
	width: 50%;
}

.form-section input{
	width: 400px;
	border-radius: 10px;
}

.myform{
	width: 70%;

}

.my-form button{
	margin-top: 60px;
	height: 40px;
	width: 275px;
	color: white;
	background-color: #22313F;
	font-size: 16px;
	border-radius: 10px;
}

.my-form form{
	margin-left: 100px;
}

.my-form h2{
	text-align: center;
	margin-bottom: 50px;
}
