$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


* {
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

body{
	margin: 0;
	font-family: sans-serif;
	background-color: #d5d8db;
	width: 100%;
}

#app-container{
	width: 100%;
}

.spaced-out{
	letter-spacing: 2px;
}

.reg-navigation{
	background-color: #22313F;
	color: #d5d8db;
	padding: 10px;
	font-size: 16px;
	font-weight: lighter;
}

.reg-navigation > *{
		display: inline-block;
}

.logo{
	width: 30%;
	padding-left: 20px;
}

.sign-in{
	width: 25%;
	float: right;
	margin-top: 22px;
}

.sign-in > *{
	display: inline-block;
}

.sign-in div{
	padding-left: 50px;
}

.hover-color:hover{
	cursor: pointer;
	color: #FDE3A7;
}

.searchbar{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 18px;
}

.searchbar > *{
	display: inline-block;
}

.searchbar div{
	width: 15%
}

.searchbar form{
	width: 30%

}

.searchbar button{
	border-style: none;
	height: 25px;
	width: 80px;
	font-size: 14px;
	color: white;
	background-color: #22313F;
	cursor: pointer;
	border-radius: 10px;
}

.search-input{
	height: 25px;
	width: 250px;
	font-size: 14px;
	letter-spacing: normal;
	border-radius: 10px;
	border-style: none;
}

.side-by-side div{
	display: inline-block;
	width: 50%;
}

.form-section input{
	width: 350px;
	border-radius: 10px;
}

.my-form{
	background-color: white;
	width: 82%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	// padding-left: 70px;
	padding-top: 30px;
	border-radius: 10px;
	margin-bottom: 100px;
}

// .my-form button{
//
// }

.submit-button{
	margin-top: 60px;
	height: 40px;
	color: white;
	background-color: #22313F;
	font-size: 16px;
	border-radius: 10px;
	width: 350px;
	text-align: center;
}

.my-form h1{
	text-align: center;
	margin-bottom: 50px;
}

.description-input{
	height: 250px;
}

.centered-margins{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.form-section{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.button-div{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

// .register-form{
// 	width: 40%;
// }

.register-form input{
	width: 95%;
	border-radius: 10px;
}

.register-form-centered{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.special-button-div{
	width: 53%;
	margin-left: auto;
	margin-right: auto;
}
