$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


* {
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

body{
	margin: 0;
	font-family: sans-serif;
	background-color: #d5d8db;
	width: 100%;
}

#app-container{
	width: 100%;
}

.spaced-out{
	letter-spacing: 2px;
}

.reg-navigation{
	background-color: #22313F;
	color: #d5d8db;
	padding: 10px;
	font-size: 16px;
	font-weight: lighter;
}

.reg-navigation > *{
		display: inline-block;
}

.logo{
	width: 30%;
	padding-left: 20px;
}

.sign-in{
	width: 25%;
	float: right;
	margin-top: 27px;
}

.sign-in > *{
	display: inline-block;
}

.sign-in div{
	padding-left: 50px;
}

.sign-out-nav{
	width: 30%;
	float: right;
	margin-top: 27px;
}

.sign-out-nav > *{
	display: inline-block;
}

.sign-out-nav div{
	padding-left: 50px;
}

.hover-color:hover{
	cursor: pointer;
	color: #FDE3A7;
}

.searchbar{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 18px;
}

.searchbar > *{
	display: inline-block;
}

.searchbar div{
	width: 50%
}
//
// .searchbar form{
// 	width: 50%
//
// }

.searchbar button{
	border-style: none;
	height: 25px;
	width: 20%;
	font-size: 14px;
	color: white;
	background-color: #22313F;
	cursor: pointer;
	border-radius: 10px;
}

.button-all-events{
	margin-left: 60px;
}

.search-input{
	height: 25px;
	width: 250px;
	font-size: 14px;
	letter-spacing: normal;
	border-radius: 10px;
	border-style: none;
}

.side-by-side div{
	display: inline-block;
	width: 50%;
}

.form-section input{
	width: 350px;
	border-radius: 10px;
}

.my-form{
	background-color: white;
	width: 82%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	// padding-left: 70px;
	padding-top: 30px;
	border-radius: 10px;
	margin-bottom: 100px;
	margin-top: 50px;
}

.my-form button{
	margin-top: 60px;
	height: 40px;
	color: white;
	background-color: #22313F;
	font-size: 16px;
	border-radius: 10px;
	width: 350px;
	text-align: center;
}

.my-form h1{
	text-align: center;
	margin-bottom: 50px;
}

.my-form form{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.description-input{
	height: 250px;
}

// .centered-margins{
// 	width: 100%;
// 	margin-right: auto;
// 	margin-left: auto;
// }

.form-section{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.button-div{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

// .register-form{
// 	width: 40%;
// }

.register-form input{
	width: 95%;
	border-radius: 10px;
}

.add-img{
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	padding: 5px 0px;
	margin-top: 5px;
	width: 150px;
}

.add-img:hover{
	cursor: pointer;
}

.preview-img{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	padding-left: 19px;
}

.special-button-div{
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail{
	cursor: pointer;
}

.flash-msg{
	color: #911d1d;
}

// MODAL FROM CODEPEN Michel Marrache
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999999;
  background-color:rgba(0,0,0,.2)
}
.modal-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin: 0 auto;
  padding: 10px;

  font-family:Arial,sans-serif;
  font-size:12px;

  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);

  -moz-border-radius:   	20px;
  -webkit-border-radius: 	20px;
  border-radius: 					20px;
  -khtml-border-radius: 	20px;

  background-color:white;
}

.modal > h1{
  padding:8px;
  margin:-10px -10px 0;
  font-family:verdana,sans-serif;
  font-size:18px;
  color:white;

  -moz-border-radius: 		20px 20px 0 0;
  -webkit-border-radius: 	20px 20px 0 0;
  border-radius: 					20px 20px 0 0;
  -khtml-border-radius: 	20px 20px 0 0;

  text-shadow:2px 2px 0 rgba(0,0,0,.3);

  background-color:#2574A9;
}
//END MODAL

.all-events{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail{
	height: 500px;
}

.single-event{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

.single-event h1{
	margin-bottom: 30px;
}

.accounts-body{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.accounts-body button{
	margin-top: 60px;
	margin-bottom: 40px;
	height: 40px;
	color: white;
	background-color: #22313F;
	font-size: 16px;
	border-radius: 10px;
	width: 30%;
	text-align: center;
}

.middle{
	text-align: center;
	margin-top: 50px;
}
